*{
    margin: 0%;
    padding: 0%;
}
header{
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-image: url(./Assets/Hero-bg.png);
}

/* * nav bar style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    max-width: 1140px;
    margin: 0 auto;
}

nav h1{
    font-size: 34px;
    font-weight: bolder;
    color: #4E47FF;
    padding-top: 50px;
    padding-bottom: 50px;
}
.btn-primary{
    font-size: 16px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 36px;
    padding-right: 36px;
    background-color: #4E47FF;
    border-radius: 10px;
    color: white;
}
.btn-primary:hover{
    background-color: rgb(235, 244, 244);
    color: blueviolet;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



/* *banner style */

.banner{
    padding-top: 60px;
    padding-bottom: 60px;
}
.banner-container{
    text-align: center;
    margin: 150px 300px;
    padding: 0 70px;
}
.banner-tittel{
    font-weight: bold;
    font-size: 60px;
}
.banner-container a button{
    margin-top: 30px;
}




/* *Action style */

.action{
    display: flex;
    gap: 220px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 1140px;
    margin: 116px auto;
    background-color: #FFFFFF;
}
.action-tittel{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}
.action-discription{
    font-weight: 400;
    font-size: 24px;
    color: #252432;
    margin-bottom: 23px;
}
.action img{
    border: 2px solid white;
    border-radius: 48px;
}

/* *Productive Users Style */

.Productive-Users{
    background-color: #d9d9f7;
    width: 1140px;
    margin: 0 auto;
    height: 306px;
    border-radius: 10px;
}
.user-tittel{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    padding-top: 50px;
}
.users{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-left: 120px;
    padding-right: 130px;
}
.active-user h1, .user-focus h1, .user-rate h1{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.active-user p, .user-focus p, .user-focus p{
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

/* *User-Section Style */

.Users-section-tittel{
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    padding-top: 137px;
    padding-bottom: 50px;
}
.Users-card{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
}
.card-tittel{
    padding-top: 24px
}
.card-discription{
    padding-top: 8px;
    padding-bottom: 24px;
}
.card-1, .card-2, .card-3{
    background-color: #F2EDED;
    border-radius: 10px;
    padding: 24px;
}
.avatar{
    display: flex;
    gap: 12px;
    padding-bottom: 24px;
}

/* *Focus section style */

.Focus-section{
    background-color: #FFFFFF;
    margin-top: 130px;
}
.focus{
    text-align: center;
}
.focus-tittel{
    font-weight: bold;
    font-size: 50px;
    color: #000000;
    padding-top: 71px;
    padding-bottom: 20px;
}
.focus-discription{
    padding-bottom: 20px;
}
.focus a button{
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}
.focus-img{
    text-align: center;
    padding-top: 20px;
}
.focus-img img{
    border: 5px solid white;
    border-radius: 48px;
}

/* *touch-Section style */
.touch-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 115px;
    margin: 115px auto;
    width: 1140px;
}
.touch-tittel{
    font-weight: bold;
    font-size: 97px;
    color: #000000;
}
.touch-section input[type="email"]{
    height: 60px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 24px;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
}
.touch-section input[type="text"]{
    height: 60px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 24px;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
}
.touch-section textarea{
    border-radius: 5px;
    width: 100%;
    margin-bottom: 24px;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    padding-left: 5px;
}
input::placeholder{
    font-weight: normal;
    font-size: 20px;
    color: #8e8e8e;
    padding-left: 5px;
}
.input-tittel{
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    padding-bottom: 10px;
}
.touch-section input[type="submit"]{
    width: 100%;
}

/* *footer section style */

.Footer-Section{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 720px;
    margin: 104px auto;
}
/* .footer-contain{
    border: 2px solid rgb(10, 196, 63);
    width: 1140px;
} */
.footer-tittel h1{
    font-weight: bold;
    font-size: 50px;
    color: #8987A1;
}
.footer-discription{
    color: #8987A1;
    padding-bottom: 20px;
    padding-top: 8px;
}
.footer-links ul li{
    display: inline-block;
    padding-left: 30px;
    font-size: 20px;
}
.footer-links ul li a{
    color: #252432;
}
ul li a{
    text-decoration: none;
}
.copyright{
    text-align: center;
    margin-top: 50px; 
    padding: 20px;
    background-color: #222;
    color: white;
    font-size: 14px;
}

/* *END */